body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.page{
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginPage{
    display: flex;
    background-color: #fff;
    background-image: url('background-chat.png');
    background-size: cover;
    background-position: center;
}

#loginPage h1{
    margin-top: 450px;
    color: #ffffff;
    padding: 5px;
}

#loginNameInput{
    width: 100%;
    max-width: 400px;
    margin-top: -25px;
    background-color: #ffffff;
    border: 5px solid #2684BB;
    border-radius: 5px;
    outline: 0;
    font-size: 18;
    padding: 15px;
}

#chatPage{
    display: none;
}

.chatArea{
    display: flex;
    flex: 1;
    width: 100%;
    background-color: #757575;
}

.chatInput{
    width: 100%;
    display: flex;
}

#chatTextInput{
    flex: 1;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    background-color: #e3e3e3;
    outline: 0;
    border: 0;
}


.chatList{
    flex: 1;
    background-color: #ffffff;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}

.chatList li{
    display: flex;
    padding: 3px 15px;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.chatList li.m-status.on{
    color:rgb(34, 74, 139);
    font-style: italic;
}

.chatList li.m-status.off{
    color:red;
    font-style: italic;
}

.chatList li.m-txt{
    margin-bottom: 10px;
    padding: 10px;
}

.chatList li.m-txt-me{
    margin-bottom: 10px;
    padding: 10px;
    justify-content: flex-end;
}

.chatList li p.text{
    background-color:#f0efef;
    font-size: 15px;
    padding: 20px 30px;
    border-radius: 0 20px 20px 20px;
}

.chatList li p.text-me{
    background-color:#f0efef;
    font-size: 15px;
    padding: 20px 30px;
    border-radius: 20px 0 20px 20px;
}



.chatList li.m-txt span{
    color:blue;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 20px;
}

.chatList li.m-txt-me span.me{
    color:forestgreen;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 20px;
    
}

.userList{
    width: 300px;
    background-color: #cecece;
    overflow-y:scroll;
    max-height: calc(100vh - 40px);
}

.userList li{
    font-size: 18px;
    padding: 8px 15px;
    border-bottom:1px solid #a7a5a5;
}

.userList li.you{
    font-weight: bold;
    background-color:#a7a5a5;
}